.navbar-toggler-icon{
    background-color: grey;
}
nav{
    background-color: maroon;
}
.facebook-page{
    text-align: center;
    color: rgba(207, 171, 8, 0.863);
    font-size: 14px;
    font-family: Georgia;
}
.church-address {
    text-align: center;
    color: rgba(207, 171, 8, 0.863);
    font-size: 16px;
    font-family: Georgia;
}
.footer-tabs {
    text-align: center;
    color: rgba(207, 171, 8, 0.863);
    font-size: 16px;
    font-family: Georgia;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: maroon;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;

}

.col-md-12 {
    list-style:  none;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.nav-link {
    font-size: 20px;
    color: rgba(207, 171, 8, 0.863);
}
.nav-link-footer{
    font-size: 16px;
    color: rgba(207, 171, 8, 0.863);
}
.facebook-link {
    font-size: 16px;
    color: rgba(207, 171, 8, 0.863);
}

