.navbar-toggler-icon{
    background-color: grey;
}
nav{
    background-color: rgb(92, 12, 12);
}
.facebook-page{
    text-align: center;
}
.church-address {
    text-align: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(155, 143, 143);
    color: rgb(0, 0, 0);
    text-align: center;
}
