.navbar-toggler-icon{
    background-color: grey;
}
nav{
    background-color: rgb(92, 12, 12);
}
.facebook-page{
    text-align: center;
    color: maroon;
    border-style: outset;
    font-size: 14 px;
    font-family: Georgia;
}
.church-address {
    text-align: center;
    color: maroon;
    border-style: outset;
    font-size: 14px;
    font-family: Georgia;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(155, 143, 143);
    color: rgb(0, 0, 0);
    text-align: center;
}
.navbar-nav {
    list-style:  none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #000000;
    height: 40px;
}
